*,*::before, 
*::after {
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:root {
  --white: #ffffff;
  --text-a: #ffffff;
  --text-b: #222222;
  --orange: #eb5d34;
  --darkorange: #d53f15;
  --blue: #292f6b;
  --darkblue: #181932;
  --gray: #2c2d42;
  --cyan: #44aabd;
  --link: #292f6b;
  --link-hover: #212656;

  scroll-timeline: --main-timeline;
}

@font-face{ 
  font-family:'Space Mono';
  src: url('../fonts/spacemono.ttf') format('ttf');
}

@font-face{ 
  font-family:'Space Grotesk';
  src: url('../fonts/spacegrotesk.ttf') format('ttf');
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  /* height: 100%; */
  border: 2px solid red;
  background-color: rgb(0, 0, 104);

  > header {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  height: 5em;
  width: 100%;
  /* position: absolute;
  left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  /* animation: headerSplash 10s ease-out; */

  > h1 { /* @Sela */
    font-family: 'Space Mono', sans-serif;
    font-size: 2.5em;
  
    color: var(--orange);
    font-weight: 400;
    font-size: clamp(1.2em, 10vw, 3.5em);
  }  
}

  > main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* overflow-y: scroll;
  height: 100vh; */
  width: 100vw;
  position: relative;

  .satellite, .text {
  width: 20em;
  height: 5em;
  margin-top: 5em;
  margin-bottom: 2em;
  border: 2px solid green;
  background-color: cyan;
  position: fixed;
  /* transform: translateY(-24em); */
  top: 29em;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;

  animation: SatelliteHide 1s linear;
  animation-timeline: scroll(root);

  /* animation: satteliteRotate linear;
  animation-timeline: scroll(root); */
  /* right: 50%;
  top:   20px; */
  /* transform: translate(50%, 0); */
  /* width:  calc(0.4 * var(--container-w));
  height: calc(0.4 * var(--container-w));
  box-shadow: 0 0 0 2px red inset; */
}

/* Fonts styling @Sela*/
h2{
  font-family: 'Space Mono', sans-serif;
  color: var(--orange);

  font-size: clamp(1em, 10vw, 3em);
  font-weight: 100;
}

h3{
  font-family: 'Space Mono', sans-serif;
  color: var(--orange);

  font-size: clamp(1.5em, 8vw, 2em);
  font-weight: 100;
}

p{
  font-family: 'Space Grotesk', sans-serif;
  color: var(--white);

  font-size: clamp(0.3em, 2.5vw, 1em);
  letter-spacing: 0.05em;
}

ul{
  font-family: 'Space Grotesk', sans-serif;
  color: var(--white);

  font-size: clamp(0.3em, 2.5vw, 1em);
  letter-spacing: 0.05em;
}

/* Stylen van de sections met tekst @Sela*/
.textstyling{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 4em;

  div{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0 4em;    
  }

  .launchingsteps{
    padding-left: 1em;
  }
}

.text {
  background-color: transparent;
  color: white;
  border: none;
  top: 35em;
  text-align: left;

  animation: texts 1s linear;
  animation-timeline: scroll(root);
}

.globe {
  width: 40em;
  height: 40em;
  margin: 0 auto;
  z-index: 1000;
  background-color: lightblue;
  border-top: 10px solid yellow;
  border: 2px solid green;
  border-radius: 50%;
  position: fixed;
  display: flex;
  /* animation: globeZoom 1s linear; */


  animation: earthRotate linear;
  animation-timeline: scroll(root);
  /* position: absolute;
  bottom: -50%; */

  .plane {
    width: 3em;
    height: 3em;
    background-color: yellow;
    margin: 2em;
  }
}

.stretch {
  height: 200vh;
}
}
}


/* @keyframes headerSplash {
  0% {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 9999;
  }
  100% {
    backdrop-filter: blur(0);
    position: absolute;
  }
} */

@keyframes SatelliteHide {
  0% {
    top: 29em;
  }
  50% {
    top: 20em;
  }
  100% {
    top: 3em;
  }
}

@keyframes texts {
  0% {
    opacity: 0;
    width: 5em;
    top: 50em;
    left: 50%;
    text-align: center;
  }
  25% {
    opacity: 0.8;
    width: 10em;
    top: 35em;
    left: 50%;
    text-align: center;
  }
  50% {
    opacity: 1;
    width: 20em;
    top: 25em;
    left: 50%;
    text-align: left;
  }
  75% {
    width: 20em;
    top: 18em;
    left: 50%;
  }
  100% {
    top: 10em;
    left: 110em;
  }
}

@keyframes earthRotate {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.8) rotate(360deg);
  }
}





/* .graphics {
  --container-w: clamp(200px, 100vh, 100vw);
  position: relative;
  width:  var(--container-w);
  height: 100%;
  box-shadow: 0 0 0 2px purple inset;
  overflow: hidden;

  * {
    position: absolute;
  } */

  /* .satellite {
    right: 50%;
    top:   20px;
    transform: translate(50%, 0);
    width:  calc(0.4 * var(--container-w));
    height: calc(0.4 * var(--container-w));
    box-shadow: 0 0 0 2px red inset;
  } */

  /* .globe {
    right:  50%;
    bottom: 0%;
    transform: translate(50%, 50%);
    width:  calc(1 * var(--container-w));
    height: calc(1 * var(--container-w));
    box-shadow: 0 0 0 2px blue inset;
    animation: spin 5s linear infinite;
  }
} */

/* .altitude {
  position: fixed;
  right:  0;
  width:  100px;
  height: 100%;
  box-shadow: 0 0 0 2px green inset;
}

@keyframes grow {
  0% {
    transform:
      translate(50%, 50%)
      scale(0%);
  }
  100% {
    transform:
      translate(50%, 50%)
      scale(100%);
  }
}

@keyframes spin {
  100% {
    transform:
      translate(50%, 50%)
      rotate(360deg);
  }
} */

/* voorbeeld */
/* #thomas {}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
} */

/* button {
  all: unset;
  box-sizing: border-box;
} */

/* ::selection {
  text-shadow: none;
  background-color: Highlight;
  color: HighlightText;
} */