html {
  --white: #ffffff;
  --text-a: #ffffff;
  --text-b: #222222;
  --orange: #eb5d34;
  --darkorange: #d53f15;
  --blue: #292f6b;
  --darkblue: #181932;
  --gray: #2c2d42;
  --cyan: #44aabd;
  --link: #292f6b;
  --link-hover: #212656;

  scroll-timeline: --main-timeline;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: fixed;
  width: 200px;
  height: 100px;
  box-shadow: 0 0 0 2px green inset;
}

.graphics {
  --container-w: clamp(200px, 100vh, 100vw);
  position: relative;
  width:  var(--container-w);
  height: 100%;
  box-shadow: 0 0 0 2px purple inset;
  overflow: hidden;

  * {
    position: absolute;
  }

  .satellite {
    right:  50%;
    top: 20px;
    transform: translate(50%, 0);
    width:  calc(0.4 * var(--container-w));
    height: calc(0.4 * var(--container-w));
    box-shadow: 0 0 0 2px red inset;
  }

  .globe {
    right:  50%;
    bottom: 0%;
    transform: translate(50%, 50%);
    width:  calc(1 * var(--container-w));
    height: calc(1 * var(--container-w));
    box-shadow: 0 0 0 2px blue inset;
    /* border-radius: 100%; */
    animation: spin 5s linear infinite;
    /* todo: scroll animation grow & spin */
  }
}

@keyframes grow {
  0% {
    transform:
      translate(50%, 50%)
      scale(0%);
  }
  100% {
    transform:
      translate(50%, 50%)
      scale(100%);
  }
}

@keyframes spin {
  100% {
    transform:
      translate(50%, 50%)
      rotate(360deg);
  }
}

/* voorbeeld */
#thomas {}


* {
  box-sizing: border-box;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

/* button {
  all: unset;
  box-sizing: border-box;
} */

/* ::selection {
  text-shadow: none;
  background-color: Highlight;
  color: HighlightText;
} */